@font-face {
    font-family: "BackToBlack";
    src: url("#{$font-path}/back-to-black-demo.regular.ttf");
    font-weight: normal;
    font-style: normal;
}

html, body
{
    height: 100vh;
    margin: 0;
    padding: 0;
    width: 100vw;
}

body
{
    color: #444444;
    display: flex;
    flex-direction: row; // Flip for vertical screens?
    font-family: Helvetica, Arial, Sans-Serif;
    font-size: 16px;
}

h1, h2, h3, h4, h5, h6, p
{
    &:first-child
    {
        margin-top: 0;
    }

    &:last-child
    {
        margin-bottom: 0;
    }
}

button
{
    cursor: pointer;
}
