#map-container
{
    flex: 1;
    position: relative;
    width: 100%;
    z-index: 0;
}

#map
{
    height: 100%;
    width: 100%;
}

.control
{
    font-size: 13px;
    padding: 0 0 0 $shadow-blur-radius;
    // Allow clicking through the div as it will otherwise cover the map.
    pointer-events: none;

    & > *
    {
        margin: 2em;
        // Allow interactions with the inner elements.
        pointer-events: all;
    }
}

#search-box
{
    border: none;
    box-shadow: 0 $shadow-offset $shadow-blur-radius rgba(0, 0, 0, 0.25);
    box-sizing: padding-box;
    height: 3em;
    margin-bottom: 0;
    padding: 0 1em;
    width: 420px;
}

#selection
{
    box-sizing: border-box;
    background: #fefefe;
    box-shadow: 0 $shadow-offset $shadow-blur-radius rgba(0, 0, 0, 0.25);
    max-height: 90vh;
    margin-top: 1em;
    overflow: auto;
    padding: 0 8px;
    border-bottom: 8px solid #fefefe;
    border-top: 8px solid #fefefe;
    width: 420px;
}

#selection-photo
{
    background-color: #f6f6f6;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 240px;
    overflow: hidden;
}

#selection-content
{
    padding: 2em 1.5em;

    & .selection-section-tab
    {
        background: #eee;
        box-sizing: border-box;
        display: inline-block;
        margin-top: 2em;
        padding: 1em;
        text-align: center;
        width: 100%;

        & > span
        {
            margin-left: 0.5em;
        }
    }
}

#selection-info
{
    & .plan-summary
    {
        margin-bottom: 1.5em;
    }

    & .plan-detail
    {
        line-height: 2;
    }

    & .plan-detail-label
    {
        width: 1.5em;
    }

    & .plan-detail-text
    {
        color: #888888;
        flex: 1;
        margin-left: 1.5em;
    }
}

#selection-comments
{
    border-top: 2px dotted #dddddd;
    margin: 0;
    margin-top: 2em;
    padding: 0;
    padding-top: 2em;

    & .plan-comments
    {
        max-height: 20vh;
        overflow-y: auto;

        & .plan-comment
        {
            color: #666666;
            margin: 0 ;
            padding: 1em;
            word-wrap: break-word;

            &:nth-child(2n)
            {
                background: $sandy-tan;
            }

            &:nth-child(2n+1)
            {
                background: $tan;
            }

            & + .plan-comment
            {
            }
        }
    }

    & input
    {
        border: 1px solid #dddddd;
        padding: 1em;
        margin-top: 2em;
        width: 100%;

        &:focus
        {
            border-color: #bbbbbb;
        }
    }

    & p.empty
    {
        margin: 0;
        text-align: center;
    }
}


#selection-button
{
    background: $orange;
    border: 0;
    color: #ffffff;
    padding: 1em;
    text-align: center;
    width: 100%;

    &.plan-delete
    {
        background: $rusty-red;
    }
}
