#planner-container
{
    box-shadow: $shadow-offset 0 $shadow-blur-radius rgba(0, 0, 0, 0.25);
    display: flex;
    flex-direction: column;
    font-size: 16px;
    height: 100vh;
    position: relative;
    width: 720px;
    z-index: 1;
}

#logo
{
    background: $orange;
    color: #ffffff;
    font-family: "BackToBlack";
    font-size: 3em;
    padding: 0.5em;
    text-align: center;
    text-shadow: 1px 2px rgba(0, 0, 0, 0.35);
}

#plan
{
    background: #fcfcfc;
    height: 100%;
    padding: 2em 2.5em;

    ol, ul
    {
        list-style: none;
        margin: 0;
        padding: 0;
    }

    li
    {
        background: $blue;
        cursor: pointer;
        margin: 0;
        padding: 2em;
        position: relative;

        &:after
        {
            clear: both;
            content: "";
            display: block;
        }

        & + li
        {
            margin-top: 1em;
        }

        button
        {
            background: #444444;
            border: 0;
            color: #ffffff;
            float: right;
            font-size: 14px;
            padding: 1em;
            position: absolute;
            right: 0;
            top: 0;
        }
    }
}
