#planner-container
{
    box-shadow: $shadow-offset 0 $shadow-blur-radius rgba(0, 0, 0, 0.25);
    display: flex;
    flex-direction: column;
    font-size: 16px;
    height: 100vh;
    position: relative;
    width: 720px;
    z-index: 1;
}

#logo
{
    background: $orange;
    font-family: "BackToBlack";
    font-size: 48px;
    padding: 0.5em;
    text-align: center;
    text-shadow: 1px 2px rgba(0, 0, 0, 0.35);

    & > a
    {
        color: #ffffff;
    }
}

#plan-list
{
    background: #fefefe;
    height: 100%;
    overflow: auto;
}

.plan
{
    background: #eee;
    cursor: pointer;
    margin: 1em;
    padding: 2em;
    position: relative;

    button
    {
        background: #444444;
        border: 0;
        color: #ffffff;
        float: right;
        font-size: 12px;
        padding: 1em;
        position: absolute;
        right: 0;
        top: 0;
    }
}

.plan-rating
{
    color: $yellow;
}

.plan-price
{
    color: $green;
}

