/***********
 * General *
 ***********/

#planner-container
{
    box-shadow: $shadow-offset 0 $shadow-blur-radius rgba(0, 0, 0, 0.25);
    display: flex;
    flex-direction: column;
    height: 100vh;
    position: relative;
    z-index: 1;
}

#logo
{
    background: $orange;
    font-family: "BackToBlack";
    font-size: 42px;
    padding: 0.5em;
    text-align: center;
    text-shadow: 1px 2px rgba(0, 0, 0, 0.35);

    & > a
    {
        color: #ffffff;
    }
}

#plan-list
{
    background: #fefefe;
    height: 100%;
    overflow: auto;

    & .plan-detail-group
    {
        & .plan-detail
        {
            margin: 0;

            & + .plan-detail
            {
                margin-left: 1.5em;
            }
        }
    }
}

.plan
{
    display: block;
    padding: 2em;

    & .plan-delete
    {
        padding: 1em;
    }

    & + .plan
    {
        border-top: 1px solid #f0f0f0;
    }

    button
    {
        border: 0;
    }
}

.plan-place
{
    font-size: 20px;
    margin: 0;
}

.plan-detail-group
{
    display: flex;
    align-items: center;

    & .plan-detail
    {
        margin: 1em 0;
    }
}

.plan-detail
{
    display: flex;
    margin-top: 1em;
}

.plan-detail-label
{
    align-items: center;
    display: flex;
    justify-content: center;
}

.plan-detail-text
{
    word-wrap: break-word;
}

/*************
 * Plan Item *
 *************/

.plan-description
{
    background: #f6f6f6;
    box-sizing: border-box;
    color: #666666;
    margin: 2em auto;

    .plan-detail-text
    {
        border-left: 4px solid #dddddd;
        cursor: pointer;
        padding: 1em;

        &:hover
        {
            border-left: 4px solid $orange;
        }

        & p.empty
        {
            color: #aaaaaa;
        }
    }

    // TODO: Transition animation for increase in size.
    textarea
    {
        background: transparent;
        border: 0;
        border-left: 4px solid $orange;
        color: #888888;
        padding: 1em;
        resize: none;
        width: 100%;
    }
}

.plan-votes
{
    & input
    {
        display: none;

        &:checked + label
        {
            background: $green;
        }
    }

    & .plan-detail-label:hover
    {
        background: $green;
    }
}

.plan-comments
{
    & .plan-detail-label:hover
    {
        background: $tan;
    }
}

.plan-votes,
.plan-comments
{
    & .plan-detail-label
    {
        background: #aaaaaa;
        color: #ffffff;
        cursor: pointer;
        padding: 1em;
    }

    & .plan-detail-text
    {
        background: #eee;
        color: #888888;
        padding: 1em;
    }
}

/******************
 * Plan Selection *
 ******************/

.plan-rating
{
    color: $yellow;

    & + .plan-price
    {
        margin-left: 1em;
    }
}

.plan-price
{
    color: $green;
}

.plan-delete
{
    background: #aaaaaa;
    color: #ffffff;

    &:hover
    {
        background: $rusty-red;
    }
}
