$font-path: "../fonts";

$shadow-offset: 2px;
$shadow-blur-radius: 5px;

/*****************
 * Color Palette *
 *****************/

$orange: #ffb646;
$blue: #3ec1e0;
$green: #aaccb1;
$tan: #ebcfa1;
$brown: #f2c171;
$yellow: #edc951;

$bingo-lingo: #baffdb;
$riley: #ddffbc;

$mermaid-blue: #6b95a3;
$gerbil: #6a6746;
$rusty-red: #c44d2f;

$caribic-sun: #eb6841;
$caribic-red: #cc333f;
$invisible-ufo: #00a0b0;
$caribic-daylight: #edc951;
$caribic-brown: #6a4a3c;
